@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <h1 class="display-4">Selecciones "Registrar Manual" para guardar un vehículo manualmente</h1>
    <p><h4><a asp-action="recivirDatosManual">Registrar Manual</a></h4></p><br />





</div>
