
@{
    ViewData["Title"] = "recivirDatos";
}

<h1>¿De que manera queire registrar un vehículo?</h1>
<h4>
    <a asp-action="recivirDatosArchivo">Registrar por archivo CSV</a>
    <br />
    <a asp-action="recivirDatosManual">Registrar manualmente</a>
</h4>
<br />